h1{
font-size: 40px;
color: #FF0000;
}

.red{
font-size: 80px;
color: #837374
}


.centered{
    text-align: center;
}
.indented{
    text-indent: 2em;
}


#title_h1{
    font-size: 60px;
    color: green;
    text-decoration:line-through;

}

/*#citygate{*/
    /*font-size: 40px;*/
    /*font-family: "Heiti SC";*/
/*}*/

body{
    /*font-size: 25px;*/
    /*font-family:Luminari, "Songti SC";*/
    /*font-style: oblique;*/
    /*font-weight: bold;*/
    font: italic bold 30px Luminari,"Heiti SC";
}

#div1{
    /*width: 500px;*/
    /*height: 100px;*/
    color: green;
    border: 1px red solid;
    line-height: 100px;
}
#div2{

    width: 500px;
    height: 100px;
    border: 1px red solid;
}